@import url('https://fonts.googleapis.com/css2?family=Modak&family=Nunito:wght@500;700&display=swap');

:root {
    --text-color: #b1aed1;
}

* {
    margin: 0;
    padding: 0;
    font-family: Nunito, sans-serif;
    font-weight: 500;
    font-size: 16px;
    list-style: none;
    text-decoration: none;
    user-select: none;
    box-sizing: border-box;
    outline: none;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #262433;
    background-image: radial-gradient(#3c3b46 0.2rem, transparent 0.2rem);
    background-size: 3.3rem 3.3rem;
}

.container_bg{
    height: 100%;
    width: 100%;
    position: absolute;
    position: fixed;
    opacity: 20%;
}

.container_bg div{
    position: absolute;
    border-radius: 50%;
}

.container_bg div:nth-child(1){
    height: 90%;
    width: 80%;
    background-color: #bb296f;
    left: -40%;
    top: -20%;
    filter: blur(500px);
}

.container_bg div:nth-child(2){
    height: 65%;
    width: 80%;
    background-color: #1ba8e9;
    bottom: -50%;
    right: -50%;
    filter: blur(500px);
}

.container_bg:after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    backdrop-filter: blur(500px);
}

.glass_bg {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(0.25rem);
    -webkit-backdrop-filter: blur(0.25rem);
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    border-left: 2px solid rgba(255, 255, 255, 0.15);
    border-right: 2px solid rgba(255, 255, 255, 0.03);
    border-bottom: 2px solid rgba(255, 255, 255, 0.03);
    box-shadow: 0 0 20px rgba(14, 12, 27, 0.6);
}

.glass_btn {
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    color: var(--text-color);
}

.text {
    color: var(--text-color);
    text-shadow: 0px 0px 4px rgba(36, 32, 43, 0.2);
}

.side_bar {
    position: fixed;
    height: 100%;
    width: 18rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.app_name {
    padding: 3rem 1rem;
    font-family: Modak;
    font-size: 3.5rem;
    line-height: 2rem;
    text-align: center;
    background: radial-gradient(ellipse , var(--text-color) 30%, rgba(38, 19, 54, 0.5) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 40%;
}

.filter_btn,
.search_btn {
    display: none;
}

.filters {
    padding: 1.5rem;
}

.filters hr {
    height: 0.3rem;
    margin: 1.5rem 0;
    border: none;
    border-radius: 1rem;
    background-color: var(--text-color);
    box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.5);
    opacity: 15%;
}

input[type="radio"] {
    position: absolute;
	left: -300%;
}

input[type="radio"]:checked + span {
    background-color: rgba(255, 255, 255, 0.1);
}

input[type="radio"]:checked + span::before {
    box-shadow: inset 0 0 0 0.4rem var(--text-color)
}

.filters span {
	display: flex;
	align-items: center;
    margin: 0.1rem;
    font-size: 1.1rem;
    padding: 0.2rem;
	border-radius: 2rem;
	transition: 0.25s ease;
}

.filters span:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.filters span::before {
	content: "";
	background-color: #2f273f;
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 50%;
	margin-right: 0.5rem;
	transition: 0.25s ease;
	box-shadow: inset 0 0 0 2px var(--text-color);
}

.filter_label {
    display: flex;
	cursor: pointer;
	position: relative;
}
.filter_name {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

.filters .fa-solid {
    padding-left: 0.5rem;
}

input[type="reset"] {
    width: 100%;
    margin: 1.5rem 0;
    padding: 0.7rem;
    border-radius: 3rem;
    border-left: none;
    border-bottom: none;
    border-right: none;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
 }

.right_section {
    margin-left: 18rem;
    padding: 2rem 4rem 4rem;
    min-height: 100%;
}

.top_block {
    margin-bottom: 2rem;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.greeting {
    flex: 1 1 auto;
    align-self: center;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.greeting img {
    height: 3rem;
}

.greeting h2 {
    font-size: 2.2rem;
    font-weight: 700;
}

.search_block {
    flex: 0 0 66.3%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.2rem;
    border-radius: 3rem;
}

.search {
    width: 50%;
    position: relative;
}

input[type="search"] {
    height: 100%;
    background: rgba(255, 255, 255, 0.07);
    border: none;
    border-radius: 2rem;
    color: var(--text-color);
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

input[type="search"] {
    width: 100%;
    padding-left: 2.5rem;
}

input[type="search"]:hover,
input[type="search"]:focus,
input[type="search"]:active {
    outline:none;
    background: rgba(255, 255, 255, 0.2);
  }

input[type="search"]::-webkit-input-placeholder {
    color: var(--text-color);
    opacity: 50%;
 }

 input[type="search"]::-moz-input-placeholder {
    color: var(--text-color);
 }

input[type="search"]::-webkit-search-cancel-button{ 
    display: none;
}

 .search .fa-search{
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translate(0%, -50%);
    color: var(--text-color);
    opacity: 50%;
  }

.profile_picture {
    height: 100%;
    background-color: #2b303b;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1rem;
}

.card {
    display: grid;
    grid-template-columns: 15% 15% 23.33% 23.33% 23.33%;
    grid-template-rows: repeat(6, max-content);
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    z-index: 1;
}

.photo {
    max-height: 100%;
    max-width: 100%;
    border-radius: 50%;
    grid-column: 1 / 3;
    grid-row: 1 / 5;
    justify-self: center;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.name {
    margin-left: 1.7rem;
    grid-column: 3 / 6;
    font-size: 1.8rem;
}

.additional_info {
    margin-left: 1.7rem;
    grid-column: 3 / 6;
    opacity: 60%;
}

.email,
.phone,
.follow_btn {
    margin-top: 0.5rem;
    padding: 0.7rem;
    border-radius: 3rem;
    text-align: center;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.email {
    margin-right: 0.25rem;
    grid-column: 1 / 2;
    grid-row: 5 / 7;
}

.phone {
    margin-left: 0.25rem;
    grid-column: 2 / 3;
    grid-row: 5 / 7;
}

.follow_btn {
    margin-left: 1.5rem;
    grid-column: 3 / 6;
    grid-row: 5 / 7;
}

.fa-solid {
    color: var(--text-color);
}

.email:hover,
.phone:hover,
.follow_btn:hover,
.profile_picture:hover,
input[type="reset"]:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
}

@media (max-width: 1799px) {
    .card {
        grid-template-columns: repeat(5, 20%);
    }
}

@media (max-width: 1599px) {
    * {
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    body {
        overflow-x: hidden;
    }

    .text {
        text-shadow: 0px 0px 6px rgba(36, 32, 43, 0.4);
    }

    .side_bar {
        position: fixed;
        top: 0;
        height: auto;
        width: 100%;
        padding: 1rem;
        border-top-right-radius: 0rem;
        border-bottom-right-radius: 2rem;
        border-bottom-left-radius: 2rem;
        backdrop-filter: blur(0.5rem);
        -webkit-backdrop-filter: blur(0.5rem);
        z-index: 2;
    }

    .filter_header {
        display: flex;
        justify-content: space-between;
    }
    
    .app_name {
        order: 2;
        padding: 0;
        width: 10rem;
        font-size: 2.6rem;
        opacity: 50%;
    }

    .filter_btn,
    .search_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        height: 4rem;
        border-radius: 1rem;
    }

    .filter_btn {
        order: 1
    }

    .search_btn {
        order: 3;
    }

    .fa-filter,
    .fa-magnifying-glass {
        font-size: 2rem;
    }
    
    .filters {
        display: none;
        flex-direction: column;
        align-items: center;
    }
    
    .filters hr {
        width: 100%;
    }

    .filter_wrapper {
        display: flex;
        gap: 2rem;
    }
    
    .filters span {
        padding: 0.8rem;
    }
    
    input[type="reset"] {
        margin: 1.5rem 0 0;
        padding: 0.9rem;
     }

     .right_section {
        margin-left: 0;
        margin-top: 6.2rem;
        padding: 2rem 2rem 4rem;
    }

    .top_block {
        height: auto;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .open_search.filter_header{
        height: 10rem;
    }

    .search_block {
        display: none;
    }

    .open_search.search_block {
        display: inherit;
        position: fixed;
        top: 7rem;
        height: 3rem;
        width: 87%;
        padding: 0;
        z-index: 2;
    }
    
    .search {
        width: 100%;
    }
    
    .profile_picture {
        display: none;
    }

    .cards {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .card {
        display: grid;
        grid-template-columns: repeat(6, 20%);
        padding: 1rem;
    }
    
    .name {
        margin-left: 1.2rem;
    }
    
    .additional_info {
        margin-left: 1.2rem;
    }
    
    .follow_btn {
        margin-left: 1rem;
    }
    
    .open {
        display: flex;
    }
}
